#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 .main {
  width: 100%;
  min-width: 1200px;
  display: flex;
  gap: 1rem;
  border: 1px solid #eee;
 }

 .info {
  width: 40%;
  border: 1px solid #eee;
 }
 .aside {
  width: 70%;
 }

.flex-col {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
 }

 .textarea {
  padding: .5rem;
  resize: vertical;
  width: 100%;
 } 

/* Header */ 
.header-p {
  font-style: italic;
  font-weight: 600;
}

.accordion-title{
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif;
 }

/* Footer */
 .redes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.redes a {
 font-size: 2rem;
}
